#-----------------------------------------------------------------------------------------------------------------------
# Specify here which files and directories should be excluded from the build context when creating a Docker image.
#-----------------------------------------------------------------------------------------------------------------------

# RDF data
rdf-data/

# Virtuoso
virtuoso/

# Custom scripts
scripts/

# Git
**/.git/
**/.gitignore
**/.gitattributes

# Docs
**/README.md

# Docker files
**/Dockerfile
**/.dockerignore

# Node modules folder
**/node_modules/

# Compiled output
**/dist/

# Configs
**/config*.yaml

# Environment variables
**/.env*

# Formatting
**/.editorconfig
**/.prettierrc

# Turborepo
**/.turbo/

# Logs
**/*.log

# IDEs and editors
**/.vscode/
